body {
    background-color: rgb(40, 131, 206);
}
h1 {
    color: cornsilk;
    text-align: center;
}
.form {
    height: 300px;
    width: 100%;
}
#bttn {
    border-radius: 10px;
    background-color: rgb(116, 190, 113);
}