body {
    background-color: rgb(40, 131, 206);
    
}
#group{
    position: absolute;
    top: 100px;
    left: 100px;
}
h1 {
    color: cornsilk;
    text-align: center;
}
#form {
    width: 100%;
}
#bttn {
    border-radius: 10px;
    background-color: rgb(116, 190, 113);
    width: 100%;
    color: cornsilk;
}
#dropdownMenu2{
    width: 100%;
    background-color: cornsilk;
    color: crimson;
}